.container#forma
  = form_for(@invitation, remote: true) do |f| 
    - if @invitation.errors.any?
      #errors
        %p
          = @invitation.errors.count
          Prevented this recipe froms saving
        %ul
          - @invitation.errors.full_messages.each do |msg|
            %li= msg
    
    
    .panel-heading
      %h5 Enter a comma or space seperated list of email addresses you wish to invite.
      .panel-body
        .row  
          = f.label 'All Emails:'
        .row
          = f.text_area :email
        .row
          %div(id="invitation")
        
      %h5 Enter invitation text. This will be email be recived to let these users know what they are being invited to.
      .panel-body
        .row 
          = f.label :message
        .row
          = f.text_area :message
    
      .row
        .col-md-offset-8
          = link_to 'Cancel', invitations_path, class: "btn-default" 
          = f.submit(id: "submit-button", value: "Invite Users", class: "btn btn-primary")

