= form_for(@invitation, remote: true) do |f| 
  - if @invitation.errors.any?
    #errors
      %p
        = @invitation.errors.count
        Prevented this recipe froms saving
      %ul
        - @invitation.errors.full_messages.each do |msg|
          %li= msg
  
  

  = f.label :email
  = f.text_field :email
  
  %ul(id="invitation")
    = render 'invitation'
    
  = f.label :message
  = f.text_field :message
  
  = f.submit 


  